@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
@import "@fortawesome/fontawesome-free/css/brands.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #292c36;
  --primary-color: #3a3e49;
  --primary-color-active: #3a3e49a3;
  --secondary-color: #2c2f3b;
  --secondary-color-active: #1f2128;
  --green-color: #4e9735;
  --green-color-active: #3a7a26;
  --orange-color: #d19644;
  --orange-color-active: #a87a2b;
  --red-color: #c93b3b;
  --red-color-active: #a82b2b;
  --blue-color: #43c5d6;
  --blue-color-active: #2998a7;
  --purple-color: #495afc;
  --purple-color-active: #2f3f9f;
  --font-color: #fff;
  --font-color-secondary: #b3b3b3;
  --font-color-tertiary: #8c8c8c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  color: white;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.shadowHover {
  transition: box-shadow 0.3s;
}

.shadowHover:hover {
  box-shadow: 0 0 10px 4px #686e80;
}

td {
  border-top: var(--primary-color) 1px solid;
}

tr:last-child td {
  border-bottom: var(--primary-color) 1px solid;
}

.noBorderBottomTable tr:last-child td {
    border-bottom: none;
}
